footer.footer
  hr
  .container
    .row
      .col-2
        img(src='../../assets/images/header-img/Group 62.png' alt='')
      .col-2
        ul
          h3
            | GI&#x1EDA;I THI&#x1EC6;U
          li Gi&#x1EDB;i thi&#x1EC7;u v&#x1EC1; Namsan
          li &Dstrok;&#x1ED9;i ng&utilde; b&aacute;c s&itilde;
          li Th&agrave;nh t&#x1EF1;u &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c
      .col-2
        ul
          h3
            | D&#x1ECA;CH V&#x1EE4;
          li
            | Ph&#x1EAB;u thu&#x1EAD;t v&ugrave;ng m&#x1EB7;t
          li
            | Ph&#x1EAB;u thu&#x1EAD;t v&ugrave;ng ng&#x1EF1;c
          li T&#x1EA1;o d&aacute;ng c&#x1A1; th&#x1EC3;
      .col-2
        ul.last
          li
            | Ph&#x1EAB;u thu&#x1EAD;t nam gi&#x1EDB;i
          li
            | V&ugrave;ng th&#x1EA7;m k&iacute;n
          li Th&#x1EA9;m m&#x1EF9; n&#x1ED9;i khoa
      .col-4
        img(src='../../assets/images/header-img/Group 455.png' alt='')
  .container
    .row
      .col-3
        .box
          h3
            img(src='../../assets/images/header-img/Group 55.png' alt='')
            | &Dstrok;&#x1ECA;A CH&#x1EC8;
          .text
            p
              | 166A Tr&#x1EA7;n H&#x1B0;ng &Dstrok;&#x1EA1;o, 
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;P. Nguy&#x1EC5;n C&#x1B0; Trinh, Q1, TP.HCM
      .col-3
        .box
          h3
            img(src='../../assets/images/header-img/Group 57.png' alt='')
            | GI&#x1EDC; HO&#x1EA0;T &Dstrok;&#x1ED8;NG
          .text
            p Th&#x1EE9; hai - Th&#x1EE9; s&aacute;u: 8:00 - 18:00
            p Th&#x1EE9; b&#x1EA3;y - CN: 9:00 - 20:00
      .col-3
        .box
          h3
            img(src='../../assets/images/header-img/Group 54.png' alt='')
            | PHONE
          .text
            p (+028) 3606 8688
            p (+028) 3606 8688
      .col-3
        .box
          h3
            img(src='../../assets/images/header-img/Group 56.png' alt='')
            | EMAIL
          .text
            p Info@namsan.com
            p Contact@namsan.com
  .box-footer
    .container
      .left
        p Copyright by Web4gsolutions 2019. All rights reserved.
      .right
        p Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
        p &Dstrok;i&#x1EC1;u kho&#x1EA3;n d&#x1ECB;ch v&#x1EE5;
